.card {
    margin: 10px 10px;
    padding: 10px 10px;
    max-width: 500px;
    display: inline-block;
}

.cardTitle a {
    text-decoration: none;
    color: green;
}

.cardAuthor a {
    text-decoration: none;
    color: green;
}